# Maven
target/
**/target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/

# OS
.DS_Store

# Logs & env
*.log
logs/
.env

# Node (eventuali UI)
**/node_modules/

# Misc
*.swp
